*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.idea

src/main/resources/darwin/
src/main/resources/linux-x86-64/
